<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/flaskr/static/quiz.css">
    <!-- Ligação ao CSS na pasta static, o flask identifica automaticamente a estrutura de pastas criada, por isso não é necessário colocar o caminho completo -->
    <link type='text/css' href='{{ url_for('static', filename='quiz.css') }}' rel='stylesheet'>
    <!-- link para o tipo de font utilizada no CSS através do GoogleFonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;900&display=swap" rel="stylesheet">
    <title>Trabalho 3 PA</title>
</head>
<body>
    <!-- Div que contém todo o conteúdo do site -->
    <div class="container">
        <!-- Div com o header do Site -->
        <div id="header">
            <h1>Quiz de Programação Python</h1>
        </div>
        <!-- Div que representa o conteúdo principal do site -->
        <div id="main">
            <h3 id="TitlePerguntas">Perguntas</h3>
            <div class="Perguntas">
               <div id="pergunta1">
                    <!-- Form onde é criado o quiz com as perguntas e opções de resposta -->
                   <form action="/" enctype="multipart/form-data" method="POST" id = "perguntaForm">
                       <p>{{Pergunta1}}</p>
                       <!-- Input com radio buttons, é validado se o campo está preenchido com a tag required -->
                       <input type="radio" id="verdadeiro" name="pergunta1" value="verdadeiro" required="True">
                       <label for="verdadeiro">Verdadeiro</label><br>
                       <input type="radio" id="falso" name="pergunta1" value="falso">
                       <label for="falso">Falso</label>                   
                       <p>{{Pergunta2}}</p>                   
                       <input type="radio" id="verdadeiro" name="pergunta2" value="verdadeiro" required="True">
                       <label for="verdadeiro">Verdadeiro</label><br>
                       <input type="radio" id="falso" name="pergunta2" value="falso">
                       <label for="falso">Falso</label>                   
                       <p>{{Pergunta3}}</p>                  
                       <input type="radio" id="verdadeiro" name="pergunta3" value="verdadeiro" required="True">
                       <label for="verdadeiro">Verdadeiro</label><br>
                       <input type="radio" id="falso" name="pergunta3" value="falso">
                       <label for="falso">Falso</label>                   
                       <p>{{Pergunta4}}</p>                   
                       <input type="radio" id="verdadeiro" name="pergunta4" value="verdadeiro" required="True">
                       <label for="verdadeiro">Verdadeiro</label><br>
                       <input type="radio" id="falso" name="pergunta4" value="falso">
                       <label for="falso">Falso</label>                   
                       <p>{{Pergunta5}}</p>                   
                       <input type="radio" id="verdadeiro" name="pergunta5" value="verdadeiro" required="True">
                       <label for="verdadeiro">Verdadeiro</label><br>
                       <input type="radio" id="falso" name="pergunta5" value="falso">
                       <label for="falso">Falso</label>                                      
                   <br><br>
                   <div id="button"> 
                    <!-- botão para submeter os dados introduzidos pelo utilizador e enviar para o servidor -->
                   <button class="submit" role="button">Submeter</button>
                   </div>
               </div>
            </div>
        </div>
        <!-- div onde está inserido o rodapé -->
        <div id="footer">
            <h3>Realizado por Nuno Cunha nº 20202457</h3>
        </div>
    </div>
</body>
</html>